html, body {
    font-family: nunito;
    font-size: 16px;
    line-height: 27px;
    overflow-x: hidden;
}

p {
    text-align: justify;
    padding-bottom: 10px;
}

.section {
    padding: 0 5vw 5vw 5vw;
}

.navbar {
    background-color: #000;
    padding: 0 40px 0;
    font-size: 0.9em;
    text-transform: uppercase;
}

#nav-text {
    color: #fff;
}

.cover {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.navbar-brand {
    font-size: 1.5em;
    margin-top: 5px;
}

ul li {
    margin-bottom: 10px;
}

.nav li {
    margin-left: 0;
    margin-bottom: 0;
    padding: 5px 0 5px;
}

.nav li:hover {
    background-color: rgba(255,255,255,0.3);
}

.navbar-toggle {
    margin-top: 10px;
}

@media(max-width:767px) {
    .navbar {
        padding: 0 10px;
    }
    
    .nav li {
        margin-left: 0px;
        padding: 0;
    }
    
    .section {
        padding: 2vw;
    }
    
    #galh1 {
        margin-top: 1.5em;
    }  
    
    #last {
        margin-bottom: 3em;
    }
}

.intro-text {
    margin-top: 50vh;
    text-align: center;
    font-size: 3.5em;
    text-transform: uppercase;
}

.dropdown {
    background-color: #020d20;
}

.banner {
    width:100%;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    color: #fff;
}

.banner2 {
    width: 100%;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    padding: 5vw;
    color: #fff;
    text-align: center;
    padding-bottom: 5em;
}

.banner2 p {
    font-size: 18px;
    line-height: 35px;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 2.2em 0 1em;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
}

.contact-h1 {
    margin-bottom: 2em;
}

button {
    background-color: rgba(0,0,0,0);
    border: solid 2px #fff;
    margin: 1em 1.75em;
    border-radius: 7%;
    padding: 5px 20px;
    letter-spacing: 1px;
}

#sm {
    display: inline-block;
}

@media(max-width:650px) {
    
    .banner {
        padding: 1em 0 3em;
    }
    
    #contact-h1 {
        margin-bottom: 1.25em;
    }
    
    #sm {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1em;
    }
    
    button {
        margin: 0.5em 2em;
        padding: 5px 15px;
    }
    
    #contact-text {
        display: none;
    }
    
    .intro-text {
        font-size: 2.5em;
        margin-top: 48vh;
    }
}

button a, button a:hover, button a:active, button a:visited {
    color: #fff;
    text-decoration: none;
}

button:hover {
    background: rgba(0,0,0,0.4);
}

.footer {
	text-transform: uppercase;
    color: #fff;
    background-color: black;
    padding: 20px;
    text-align: center;
    border-top: #000;
}

.gallery {
    border: 1px solid #999;
    border-radius: 10px;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
    -webkit-filter: brightness(80%);
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.gallery img:hover {
    -webkit-filter: brightness(100%);
}   

.desc {
    padding: 15px;
    text-align: center;
    font-weight: bolder;
    color: #000;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 33.3%;
    margin: 1.5em 0 0 0;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.inline-wro {
    width: 28vw;
    height: 32.6vw;
    float: right;
    margin-left: 3vw;
    margin-bottom: 2vw;
    box-shadow: 0 0.1vw 0.5vw 0 rgba(0, 0, 0, 0.1), 0 0.7vw 2vw 0 rgba(0, 0, 0, 0.12);
}

@media all and (max-width:1100px) {
    .inline-wro {
        visibility:none;
        opacity:0;
        height: 0;
        width: 0;
    }
}

.inline-ftc {
    width: 360px;
    height: 200px;
    float: right;
    margin-left: 2vw;
    margin-top:5px;
}

@media all and (max-width:1000px) {
    .inline-ftc {
        visibility:none;
        opacity:0;
        height: 0;
        width: 0;
    }
}